.links {
  margin-bottom: 10px;
}
.link {
  margin: 0 10px;
}

.tabs {
  padding: 20px;
  border: 1px solid #f5f5f5;
}
.warning {
  background-color: red;
  text-align: center;
  width: 100%;
  padding: 10px;

  font-size: 14pt;
  color: white;
}
