.links {
  margin-bottom: 10px;
}
.link {
  margin: 0 10px;
}

.tabs {
  padding: 20px;
  border: 1px solid #f5f5f5;
}

input[type=text], input[type=email] {
  height: 46px;
  width: 250px;
  border: 1px solid #b1bfc4;
  border-radius: 3px;
  padding-left: 8px;
  margin: 8px 0;
  color: #2D3036;
}

.next {
  padding: 8px 20px;
  border-radius: 3px;
  background-color: #418bca;
  outline: 0;
  display: inline-block;
  border: none;
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}
